<ng-container *ngFor ="let social of socials">
  <div class="socialBlock socialBlock--{{social.name | lowercase}} col-6" *ngIf="social.show">
    <h2 class="socialBlock__name">
      <img src="{{social.logo}}" alt="{{social.name}}" title="{{social.name}}">
    </h2>
    <div class="socialBlock__linkGenerator text-center">
      <div>
        <input type="url" [(ngModel)]="social.linkGenerator.link" placeholder="Insert link">
        <input type="text" [(ngModel)]="social.linkGenerator.title" placeholder="Insert title" *ngIf="social.linkGenerator.title !== null">
        <input type="text" [(ngModel)]="social.linkGenerator.description" placeholder="Insert description" *ngIf="social.linkGenerator.description !== null">
        <input type="text" [(ngModel)]="social.linkGenerator.image" placeholder="Insert image" *ngIf="social.linkGenerator.image !== null">
      </div>
      <button (click)="buildPath(social)" class="btn btn-primary">Generated social link</button>
    </div>
    <div class="socialBlock__generatedLink">
      <p>
        <span *ngIf="social.linkGenerator.link.startsWith('http://')">
          {{social.linkGenerator.builtPath}}
        </span>
      </p>
    </div>
  </div>
</ng-container>
