@import "../../assets/stylesheet/mixin/custom-mixin";
@import '../../assets/stylesheet/variables';

//#{&} = si riferisce al padre(socialBlock)

.socialBlock {
  $c: &;
  max-width: 50%;
  display: block;
  background-color: #f2f3f7;
  @include spaces(0, 0 auto 20px);
  &__name {
    margin: 0;
    padding: 0;
  }
  &__linkGenerator {
    padding: 15px;
    input {
      width: 100%;
      @include spaces(5px, 0 0 7px);
      @include border(1px, #ccd4e4);
    }
    button {
      margin-top: 10px;
    }
  }
  &__generatedLink {
    padding: 15px;
    & > p {
      min-height: 50px;
      font-size: 14px;
      width: 100%;
      overflow: hidden;
      background-color: white;
      @include border(4px, #ccd4e4);
      @include spaces(10px 10px, 0);
    }
  }
  @each $social, $color in $socials {
    &#{$c}--#{$social} {
      #{$c}__name, #{$c}__generatedLink {
        background-color: $color;
      }
    }
  }
}
