/* You can add global styles to this file, and also import other style files */
@import "assets/stylesheet/mixin/custom-mixin";
@import 'assets/stylesheet/variables';

body {
  @include size(100%, 100%);
  background-color: #97ccd4;
  @include spaces(0, 0);
}

*, ::after, ::before {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  $buttons: (success, #67cb4d),
          (warning, #f43535);
  border: 0;
  padding: 10px 15px;
  &--radius {
    border-radius: 4px;
  }
  @each $button, $color in $buttons {
    &--#{$button} {
      background-color: $color;
      @include transition(all 0.2s ease-in);
      cursor: pointer;
      color: white;
      &:hover {
        background-color: darken($color, 10%);
      }
    }
  }
}
